<div class="wrapper">
	<div class="container">
		<h1 class="title">Tutoriales de Rails</h1>
		<div class="user__container">
			<p class="user__info">
				Hola, en este página publicaré mini tutoriales de Rails, la documentación de
				tutorial con el paso a paso se encuentra en mi blog
				<a href="http://anamariasosa.me/category/back-end/">clic aquí para verlos</a>
			</p>
		</div>
	</div>
</div>
